# App
DEBUG=False
JWT_SECRET_KEY=generate_this_using_openssl_rand_hex_32

# Database (Supabase)
# Use the Transaction Pooler (Port 6543)
DATABASE_URL=postgresql://postgres.xxxx:[PASSWORD]@aws-1-ap-northeast-1.pooler.supabase.com:6543/postgres?sslmode=require

# Groq AI
GROQ_API_KEY=gsk_your_key_here

# Initial Admin
ADMIN_USERNAME=Sohaib
ADMIN_PASSWORD=change_me_immediately
